<!DOCTYPE html>
<html  onload="post1()">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!--我的样式-->
		<link rel="stylesheet" type="text/css" href="/static/css/report_style.css" />

		<!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
		<title></title>
	</head>

	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<img alt="140x140" src="/static/img/reportimg/top.png" />
					<div class="row clearfix top" style="border-bottom: 1px solid #797979;">
						<div class="col-md-4 column">
							<h3 class="text-center jiahei">
						<a href="#jbxx">基本信息</a>
					</h3>
						</div>
						<div class="col-md-4 column" style="border-left: 1px solid #797979;;">
							<h3 class="jiahei text-center">
						<a href="#feature">脸型发型</a>
					</h3>
						</div>
						<div class="col-md-4 column" style="border-left: 1px solid #797979;;">
							<h3 class="text-center jiahei">
						<a href="#somatotype">体型分析</a>
					</h3>
						</div>
					</div>
					<div class="row clearfix top">
						<div class="col-md-6 column">
							<h3 class="text-center jiahei">
						<a href="#complexion">肤色分析</a>
					</h3>
						</div>
						<div class="col-md-6 column" style="border-left: 1px solid #797979;;">
							<h3 class="text-center jiahei">
						<a href="#huli">护理方法</a>
					</h3>
						</div>
					</div>
					<div class="row clearfix fenge">
						<div class="col-md-12 column">
							<h3 class="text-center">
						<div class="title" id="jbxx">
							1&nbsp;|&nbsp;基本信息
						</div>
					</h3>
							<div class="touxing">
								<img class="tx" style="border-radius: 50%;" alt="140x140" src="/static/img/reportimg/touxing.png" />
							</div>
							<h3 class="text-center">
						年龄：<span id="age"></span> 身高：<span id="stature"></span> 体重：<span id="weight"></span>
					</h3>
							<div class="touxing">
								<img class="bmi" alt="140x140" src="/static/img/reportimg/bmi.png" />
							</div>
							<h3 class="text-center">
						BMI指数：<span id="bmi"></span><br />
						体质指数(BMI)=体重(KG)/身高(M)<sup>2</sup>
					</h3>
							<h3 class="text-left" id="advice">
						你的BMI值处于偏瘦水平，适当调整下饮食结构，多吃长肉，改善过于单薄的身材，才是注意的重点。
					</h3>
						</div>
					</div>
					<!--2、脸型&发型-->
					<div class="row clearfix fenge" style="padding-top: 30px;">
						<img id="feature" class="item-img" alt="140x140" src="/static/img/reportimg/男 方脸.jpg" />
					</div>
					<!--推荐发型-->
					<div class="row clearfix">
						<div class="col-md-12 column">
							<h3 class="jiahei text-left">推荐发型</h3>
							<div class="touxing">
								<img class="tjfx" id="tuijian0" alt="140x140" src="/static/img/reportimg/tjfx1.png" />
							</div>
							<div class="touxing">
								<img class="tjfx" id="tuijian1" alt="140x140" src="/static/img/reportimg/tjfx2.png" />
							</div>
							<div class="touxing">
								<img class="tjfx" id="tuijian2" alt="140x140" src="/static/img/reportimg/tjfx3.png" />
							</div>
							<div class="touxing">
								<img class="tjfx" id="tuijian3" alt="140x140" src="/static/img/reportimg/tjfx4.png" />
							</div>
							<div class="touxing">
								<img class="tjfx" id="tuijian4" alt="140x140" src="/static/img/reportimg/tjfx5.png" />
							</div>
						</div>
					</div>
					<!--3、体型分析-->
					<div class="row clearfix fenge">
                           <img class="item-img" id="somatotype" alt="140x140" src="/static/img/reportimg/男 三角形.jpg" />
					</div>
					<!--4、肤色分析-->
					<div class="row clearfix fenge">
                           <img class="item-img" id="complexion" alt="140x140" src="/static/img/reportimg/男白皙肌肤.jpg" />
					</div>
					<!--5、护理方法-->
					<div class="row clearfix fenge" style="padding-top: 30px;">
                           <img class="item-img" id="huli" alt="140x140" src="/static/img/reportimg/干性 粗硬 多.jpg" />
					</div>
				</div>
			</div>
			<!--二维码-->
			<div class="row clearfix">
				<div class="col-md-12 column">
					<img alt="140x140" src="/static/img/reportimg/二维码.jpg" />
				</div>
			</div>
		</div>
	</body>

</html>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
function post(){
	console.log("ajax")
	$.ajax({
		url: "/customize/report/data",
		type: "get",
		dataType:"json",
		contentType:"application/json; charset=utf-8",
	
		success: function(receive) {
		//var dataObj = JSON.parse(data);
		console.log(receive);
		$("#age").text(receive.age)
		$("#advice").text(receive.advice)
		$("#stature").text(receive.stature)
		$("#weight").text(receive.weight)
		$("#bmi").text(receive.bmi)
		$("#feature").attr("src",receive.featureURL)
		$("#somatotype").attr("src",receive.somatotypeURL)
		$("#complexion").attr("src",receive.complexionURL)
		$("#huli").attr("src",receive.hairMantainURL)
		$(".tjfx").css("display","none")
		for(var i=0;i<receive.haircutURL.length;i++){
			$("#tuijian"+i).attr("src","../"+receive.haircutURL[i])
			$("#tuijian"+i).css("display","block")
			console.log()
		}
			console.log(receive);
			console.log(receive.haircutURL[0]);
		},
		error:function(e){
		
		//window.location.href="/customize/showreport";
			console.log(e);
    	}
	  });
}

 window.onload=function(){
	   post();
 }
</script>